accelerate
attrdict
diffusers
einops
huggingface-hub
imageio
ninja
numpy
PyYAML
scipy
tokenizers
tqdm
transformers
sentencepiece
cmake

# for nerfacc
nerfacc -f https://nerfacc-bucket.s3.us-west-2.amazonaws.com/whl/torch-1.13.0_cu117.html
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
